@media only screen and (max-width: 800px) 	{

.mobile_hide {
	display: none;
}

h1 {
	font-size: 120px;
	letter-spacing: 5px;
}

h2 {
	font-size: 26px;
}

.post_it {
	top: 80px;
	left: 0px;
}

#get_user {
	left: 0px;
	margin: 0px;
}
	#get_user h2 {
	line-height: 50px;
	}

#search_form {
	position: absolute;
	right: 40px;
}
	#search_form input {
		width: 70px;
	}

#logout {
	top: 12px;
	padding: 0px;
	margin: 0px;
}

#logo {
	margin: 0px 15px 0px 0px;
	height: 100px;
}

.scrollToTop {
	right: 20px;
	left: auto;
}

#litter_form {
	position: relative;
	width: 90%;
	float: none;
	padding: 0px;
	margin: 7px;
}
	#litter_form textarea {
		height: 70px;
	}

	.fileinputs {
		width: 150px;
		display: inline;
		float: left;
	}

	div.fakefile input[type=button] {
    width: 120px;
	}

	#litter_form button {
	float: left;
	margin-left: 70px;
	}


#whos_online {
	position: relative;
	left: 0px;
	top: 75px;
	right: auto;
	width: 100%;
	height: 120px;
	text-align: center;
	clear: both;
}

#online_img {
	overflow: scroll;
	text-align: left;
	overflow-y: hidden;
}

#online_container {
	width: 10000px;
}

#wrapper {
	position: relative;
	width: 90%;
	top: 50px;
	margin: 0px;
	padding: 0px;
	/*display: none;*/
}

.post {
	width: 100%;
	margin-right: 0px;
	margin-left: 7px;	
}

	.post h4{
		font-size: 20px;
	}

.reply input {
	width: 70%;
}

.recycle, .del_post {
	position: relative;
	top: -35px;
	margin-right: 0px;
}

.recycled {
	width: 90%;
	margin: 0px;
	padding: 20px 0px;
}
	.recycled .recycle {
		display: none;
	}

.postit ul li{
  width: 180px;
}

#profile {
	position: relative;
	right: auto;
	width: 100%;
	height: 80%;
	text-align: center;
}

	#profile button{
		margin-left: 0px;
	}

#edit_wrapper {
	position: relative;
	width: 100%;
	top: 70px;
}

#changePic {
	float: left;
	margin-top: 30px;
}

#login {
	background: url('../img/login_bg_mobile.jpg');
	background-size: 100%
}

#login_form, #register {
	width: 100%;
}

	#register input {
		margin-left: 22px;
	}







}