body{
	padding: 0px;
	margin: 0px;
}

h1{
	display: inline;
}

#header{
	position: relative;
	top: 0px;
	left: 0px;
	width: 99%;
	height: 45px;
	margin: 0px;
	background: #f0f0f0;
	padding: 5px;
	text-align: center;
}
	#header h1{
		padding: 0px;
		display: inline;
	}
	#header p{
		padding-left: 600px;
		display: inline;
	}

#side{
	position: relative;
	top: 20px;
	width: 400px;
	height: 400px;
	float: left;

}

#wrapper{
	width: 500px;
	float: left;
}

.post{
	width: 400px;
	float: left;
	margin: 10px;
	padding: 10px;
	background: #999;
}
	.post h3{
		display: inline;
	}

.atcomment{
	background: #fff;
}

.del_post{
	text-align: right;
}
.del_comment{
	text-align: right;
}

.recycled{
	background: #ccc;
}
	.rePost{
		padding: 20px;
	}

.bullet{
	display: inline;
	font-size: 85px;
	line-height: 15px;
	color: gray;
}
	.green{
		color: green;
	}


.hide{
	display: none;
	background: #777;
}

#right{
	position: relative;
	top: 20px;
	width: 400px;
	height: 400px;
	float: left;
}

#bg{
	position: relative;
	width: 400px;
	height: 200px;
}

.post_it{
	position: fixed;
	top: 50px;
	left: 50px;
	width: 400px;
	height: 365px;
	background: url('../img/postit.png');
	padding: 50px;
	z-index: 1;
	-webkit-box-sizing: border-box;
}
